/* table.table.table-borderless {
    background: white;
    margin-top: 18px;
    margin-left: 31px;
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

} */
#booking-header{
    background: #F5F6FA;
    border-radius: 13px;
    padding-top: 5px;
    padding-left: 20px;
}

#booking-header thead{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #686868;

    /* border-collapse: separate !important; */
}
 
#booking-header th {
    padding-bottom: 20px;
}

#booking-header th:nth-child(1) {
    width: 150px;
}
#booking-header th:nth-child(2) {
    width: 180px !important;
}

#booking-header th:nth-child(3) {
    width: 150px !important;
}

#booking-header th:nth-child(4) {
    width: 230px !important;
} 