.form-label{
   height: 24px;
   font-family: Poppins;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   /* identical to box height */


   color: #232323;
}
.form-control::placeholder {   
    height: 18.67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #C9C9C9;
}


#upload-btn-img {
    width: 173px;
    height: 40px;
    background: #DEFFED;
    border: 1px solid #009444;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    
}

#upload-btn-img p {
    padding-top: 18px;
    padding-left: 48px;
}

#upload-btn-img::after {
    visibility: hidden;
}

#upload-img-form {
    padding-top: 65px;
}

#add-btn {
    background: #275A53 !important;
    width: 108px;
    height: 37px;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 300px;

}

#thumbnail-text{
    left: 851px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}